# CakePHP
/vendor/*
/tmp/*
/logs/*
/webroot/files/*

# Node
/node_modules/*

# Testing coverage
/webroot/coverage/*
/build/logs/*

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#PhpStorm
.idea/*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Composer
composer.phar

# Environment variable definitions
/config/.env
/config/.env.production
/config/.env.dev
/config/.env.staging

# Code coverage report
/build/logs/clover.xml

# Files copied from vendors
/webroot/fonts/glyphicons-halflings-*
/android-chrome-192x192.png
/android-chrome-512x512.png
/apple-touch-icon.png
/browserconfig.xml
/favicon.ico
/favicon-16x16.png
/favicon-32x32.png
/manifest.json
/mstile-150x150.png
/safari-pinned-tab.svg
