# CakePHP
/vendor/*
/tmp/*
/logs/*
/webroot/files/*

# Node
/node_modules/*

# Testing coverage
/webroot/coverage/*
/build/logs/*

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#PhpStorm
.idea/*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Composer
composer.phar

# Environment variable definitions
/config/.env
/config/.env.production
/config/.env.dev
/config/.env.staging

# Code coverage report
/build/logs/clover.xml
