section.report {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

table.report {
    white-space: nowrap;

    &.expanded {
        &.int-alignment-expanded {
            td,
            th {
                &.int-alignment-details {
                    display: table-cell;
                }
            }
        }
        td,
        th {
            &.survey {
                display: table-cell;
            }
            &.int-alignment-details {
                display: none;
            }
        }
        .minimized-status-header {
            display: none;
        }
        .col-group-headers {
            display: table-row;

            td,
            th {
                display: table-cell;
            }
            td:first-child {
                display: table-cell;
                text-align: center;
            }
            .spacer {
                display: none;
            }
        }
    }
    tbody {
        background-color: #fff;

        td {
            text-align: center;

            &:first-child {
                border-right: 1px solid @table-border-color;
                text-align: left;

                button {
                    .btn;
                    .btn-link;

                    border: 0;
                    font-size: 100%;
                    line-height: 100%;
                    padding: 0 0 0 5px;
                }
            }
        }
    }
    > thead {
        button {
            .btn;
            .btn-link;
        }
        > tr.general-header {
            > th {
                border-top: none;

                &.minimized-status-header,
                &:first-child {
                    border-top: 1px solid @table-border-color;
                }

                span {
                    -ms-writing-mode: tb-rl;
                    -webkit-writing-mode: vertical-rl;
                    writing-mode: vertical-lr;
                }
            }
        }
        th {
            background-color: #fff;
            vertical-align: middle;

            &:first-child {
                border-right: 1px solid @table-border-color;
            }
            &.survey-status {
                border-right: 1px solid @table-border-color;
            }
        }
    }
    tr {
        &.active {
            font-weight: bold;
        }
    }
    td,
    th {
        &.survey {
            display: none;
        }
    }
    th {
        text-align: center;
    }
    td {
        &.survey-status {
            border-right: 1px solid @table-border-color;
            display: table-cell;
        }
    }
    .minimized-status-header {
        border-right: 1px solid @table-border-color;
    }
    .area-details {
        color: #666;
        font-size: 80%;
        line-height: 80%;
    }
    .col-group-headers {
        display: none;

        button {
            font-size: 100%;
            padding-bottom: 0;
            padding-top: 0;
        }
        th {
            border-bottom: 0;
            border-left: 1px solid @table-border-color;
            border-right: 1px solid @table-border-color;
            border-top: 1px solid @table-border-color  !important;
            padding-bottom: 4px;
            padding-top: 4px;
        }
        td {
            border-bottom: 1px solid @table-border-color;
            border-top: none;

            &:first-child {
                border-right-color: transparent;
            }
        }
        .spacer {
            border: none;
        }
    }
    .general-header {
        th[data-sort]:not([data-sort=""]) {
            cursor: pointer;
            white-space: nowrap;

            &:after {
                font-family: "Glyphicons Halflings";
                padding-left: 5px;
                vertical-align: middle;
            }
            &.sorting-asc:after {
                content: "\e253";
            }
            &.sorting-desc:after {
                content: "\e252";
            }
        }
    }
    .hidden-modal-content {
        display: none;
    }
    .int-alignment {
        display: table-cell;
    }
}
html,
body {
    &.report-layout {
        background-color: #fff;
        min-height: 100%;
    }
}
body.report-layout {
    padding: 30px;
}
