@import "./cake.css";
@import "../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../vendor/ballstatecber/datacenter-plugin-cakephp3/webroot/css/datacenter.less";

a:hover {
	.glyphicon {
		text-decoration: none;
	}
}

nav {
	margin-top: 30px;

	&:first-of-type {
		margin-top: 0;
	}

	h2.logged_in {
		font-size: 12px;
		font-weight: normal;
	}

	.client_home {
		font-weight: bold;
	}
}

.alert-info {
	a {
		text-decoration: underline;
	}
}

.community_data_section {
	border-bottom: 1px solid #666;
	margin-bottom: 15px;
	padding-bottom: 15px;
	&:last-of-type {
		border-bottom: none;
	}
	.footnote {
		color: #777;
		font-size: 85%;
		font-style: italic;
		margin: 15px 0 0 0;
	}
}

#employment_growth_table {
	table {
		margin: auto;
	}
	tr, td {
		padding: 2px 10px;
	}
	thead {
		th {
			text-align: center;
		}
	}
	tbody {
		td {
			border-top: 1px solid #666;
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				text-align: right;
			}
		}
		img {
			vertical-align: bottom;
		}
	}
}

#community_select {
	input[type="submit"] {
		background-color: transparent;
		background-image: url('/data_center/img/icons/arrow.png');
		border: none;
		height: 16px;
		width: 16px;
	}
	select:required {
		box-shadow: none;
	}
}

#home {
	section {
		display: inline-block;
		vertical-align: top;
		width: 45%;
	}
	li {
		margin-bottom: 10px;
	}
}

#two_col_wrapper {
	> #menu_column {
		background-color: transparent;
		color: #cadddc;
		padding: 0;
		width: 230px;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			background-color: #5A6666;
			list-style-type: none;
			margin-bottom: 2px;
			padding: 15px;
			&.link {
				padding: 0;
			}
			a {
				display: block;
				color: #cadddc;
				padding: 15px;
			}
		}
		h2 {
			color: #cadddc;
		}
	}
	> #menu_col_stretcher {
		background-color: transparent;
	}
}

#sidebar_logo {
	display: block;
	margin-bottom: 15px;
}

#two_col_wrapper {
	margin-top: 15px;
}

.faq {
	h2 {
		color: #cc0000;
		font-size: 200%;
		font-weight: normal;
		text-transform: uppercase;
	}
	section {
		margin-bottom: 60px;
		> ul {
			padding-left: 15px;
		}
	}
	.policy {
		font-style: italic;
	}
	.recommendations {
		list-style-type: upper-alpha;
	}
	.example_community {
		display: inline-block;
		vertical-align: top;
		width: 350px;
		h3 {
			font-weight: normal;
			margin-top: 0;
			text-transform: uppercase;
		}
		.name {
			font-size: 140%;
		}
		.example_number {
			font-style: italic;
		}
		.info {
			font-size: 120%;
		}
		ul {
			padding-left: 15px;
		}
	}
	.step {
		font-style: italic;
	}
	img.process {
		display: block;
		margin: auto;
		max-width: 100%;
	}
}

.error-message {
	color: red;
	font-weight: bold;
}

form {
	.note {
		color: #999;
		font-size: 90%;
	}
}

#community_container {
	font-size: 120%;
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		margin: 10px 0 0 0;
		padding: 0;
	}
	span.glyphicon {
		color: red;
		margin-right: 5px;
		vertical-align: text-top;
	}
	a:hover {
		text-decoration: none;

		span.link_label {
			text-decoration: underline;
		}
	}
}

div.all_communities {
	.fake_label {
		font-weight: bold;
	}
	label {
		font-weight: normal;
	}
	input[type=radio] {
		margin-right: 10px;
	}
}

#communities_index {
	thead {
		font-size: 120%;

		th {
			text-align: center;

			&:first-child {
				text-align: left;
			}
		}
	}
	td {
		text-align: center;
	}
	.no_score {
		color: #666;
	}
	.glyphicon-ok {
		color: #0a0;
	}
}

#communities_admin_index {
	.glyphicon-ok-sign {
		color: green;
	}
	.glyphicon-remove-sign {
		color: red;
	}
	.glyphicon-ok {
		color: #0a0;
	}
	.glyphicon-arrow-up,
	.glyphicon-arrow-down {
		font-size: 80%;
		margin-left: 5px;
	}
	thead {
		th {
			vertical-align: top;
		}
		.note {
			color: #666;
			font-size: 90%;
			font-weight: normal;
		}
	}
	.table {
		.fast_track {
			margin-left: 10px;
		}
		.badge {
			margin-left: 10px;
		}
	}
	.survey_links {
		display: none;

		a {
			margin-left: 5px;
		}
	}
	#glossary {
		color: inherit;
		display: none;

		td {
			padding: 0 2px;

			&:first-child {
				text-align: center;
			}
		}
	}
	.no_results {
		color: #999;
		font-size: 125%;
		text-align: center;
	}
	.area_name {
		color: #999;
		font-size: 90%;
	}
}
#search_term {
	a {
		color: #AA0000;
		font-size: 90%;
		margin-left: 15px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
#admin_community_search_form {
	input[type="text"] {
		min-width: 200px;
	}
	.loading {
		margin-left: 5px;
	}
}

#users_index {
	.checkmark {
		color: #0a0;
		text-align: center;
	}
}

#CommunityAdminEditForm {
	input[type="checkbox"] {
		display: inline;
		height: auto;
		margin-right: 10px;
		width: auto;
	}
	fieldset {
		margin: 40px 0;
	}
	.form-group {
		margin-bottom: 30px;
	}
	.custom_radio {
		.fake_label {
			font-weight: bold;
		}
		label {
			font-weight: bold;
			padding-left: 0;
		}
		label[for^="meeting"],
		label[for^="public"], {
			display: block;
			font-weight: normal;
			padding-left: 20px;
		}
		input[type=radio] {
			margin-right: 10px;
		}
	}
	.panel-body:before,
	.panel-body:after {
		content: none;
	}
	.panel {
		.form-group:last-child {
			margin-bottom: 0;
		}
	}
}
#meeting_date_fields {
	margin-top: -30px;
	padding-bottom: 30px;

	label {
		display: block;
	}
	.form-group {
		margin: 0;
	}
}

#UserClientInviteForm {
	button.remove {
		display: inline-block;
		margin-left: 15px;
		vertical-align: baseline;
	}
	fieldset {

		/* Don't show a 'remove' button if there's only one row */
		> div:only-child {
			button {
				display: none;
			}
		}
	}
}

#sent_invitations {
	display: none;
	margin-bottom: 15px;
	max-height: 200px;
	overflow: auto;

	ul {
		margin: 0 0 15px 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

table.respondents {
	td.boolean_icon {
		.glyphicon-ok {
			color: green;
		}
		.glyphicon-remove {
			color: red;
		}
	}
	> tbody {
		> tr {
			> td:first-child {
				line-height: 100%;
			}
		}
	}
	.email,
	.title {
		font-size: 90%;
	}
}

#unapproved_respondents,
#dismissed_respondents {
	.loading {
		margin-left: 5px;
	}
}

#surveys_client_index {
	section {
		margin: 60px 30px;

		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	h2 {
		margin-left: -30px;
	}
	.panel-body {
		font-size: 130%;

		&:after {
			content: none;
		}
		.text-danger,
		.text-warning,
		.text-success {
			font-weight: bold;
		}
	}
}

#pwr_table {
	display: none;
}

table.pwr {
	td:last-child {
		font-weight: bold;
	}
	.above_average {
		.text-success;
	}
	.below_average {
		.text-danger;
	}
}

#surveys_admin_index {
	table {
		margin-top: 15px;
	}
	.help_toggler {
		cursor: help;
		margin-top: 15px;
	}
	.help_message {
		display: none;
	}
}

#respondents_table {
	.unknown {
		color: #999;
		font-style: italic;
	}
	.glyphicon-ok {
		color: green;
	}
	.glyphicon-remove {
		color: red;
	}
	.unapproved {
		td {
			background-color: #eee;
		}
	}
	tfoot {
		font-weight: bold;

		td:first-child {
			text-align: right;
		}
	}
}

#uninvited_respondents {
	.no_name {
		color: #999;
	}
}

#purchase_status {
	.text-success,
	.text-primary {
		font-weight: bold;
	}
	.price {
		color: @text-muted;
		display: inline-block;
		font-size: 100%;
		margin-left: 15px;
	}
	.glyphicon {
		margin-right: 5px;
	}
}

#CommunityAdminProgressForm {
	.glyphicon {
		margin-left: -23px;
	    margin-right: 10px;
	    width: 13px;
	}
	li {
		list-style-type: none;
		margin-bottom: 5px;

		&.pass {
			color: #050;

			.glyphicon {
				color: #0d0;
			}
		}
		&.fail {
			color: #500;

			.glyphicon {
				color: #d00;
			}
		}
	}
	input[type="radio"] {
		margin-right: 5px;
	}
	label {
		display: block;
		font-size: 120%;
		margin-top: 20px;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

#client_home {
	tbody {
		background-color: #eee;
		opacity: 0.6;


		&.current {
			background-color: #fff;
			border: 1px solid #aaa;
			opacity: 1;
		}
		&:first-child {
			th {
				border-top: none;
			}
		}
	}
	th {
		border-top: 1px solid #aaa;
		font-size: 150%;
		font-weight: bold;
		padding: 15px;
	}
	td {
		border-top: 1px solid #ededed;
		padding: 15px;
		vertical-align: top;

		&:nth-child(2) {
			.alert {
				margin-bottom: 0;
			}
		}
	}
	.btn {
		display: block;
	}
	.glyphicon {
		font-size: 150%;
	}
	.glyphicon-ok {
		color: #0a0;
	}
	.glyphicon-remove {
		color: #a00;
	}
	.importing_note_toggler {
		.glyphicon {
			font-size: 100%;
		}
	}
}

.survey_overview {
	.panel-body:before,
	.panel-body:after {
		display: none;
	}
	.invitations_list {
		display: none;
		max-height: 300px;
		overflow: auto;

		.email {
			display: inline-block;
			font-size: 90%;
			margin-left: 10px;
		}
	}
	.link_survey {
		.details {
			display: none;
		}
		.well {
			margin-top: 10px;
		}
		.actions {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				list-style-type: none;
				margin: 0 15px 0 0;
				padding: 0;
			}
		}
		.glyphicon-ok {
			color: green;
		}
		.glyphicon-remove {
			color: red;
		}
		.lookup_results {
			display: none;
			max-height: 200px;
			overflow: auto;

			.alert {
				margin: 0;
			}
		}
		.loading {
			.text-muted;
		}
		.url_error {
			.text-danger;
		}
	}
}

#dismissed_respondents {
	> div {
		display: none;
	}
}

#admin_responses_view {
	.table_container {
		max-height: 400px;
		overflow: auto;
	}
	h2 {
		font-size: 180%;
	}
	section {
		margin-top: 50px;

		&:first-of-type {
			margin-top: 0;
		}
	}
	thead {
		font-weight: bold;

		th {
			font-size: 80%;
			padding: 8px 4px;
			text-align: center;
		}
		td:first-child {
			text-align: right;
		}
	}
	tfoot {
		font-weight: bold;

		td:first-child {
			font-size: 150%;
			text-align: right;
		}
		a {
			font-size: 60%;
			font-weight: normal;
		}
	}
	tr.respondent {
		display: none;
	}
	.actual_rank,
	tr.response td,
	tfoot td {
		font-size: 150%;
		text-align: center;
	}
	td.selected,
	th.selected {
		display: none;
	}
	.correct {
		.text-success;
		.bg-success;
	}
	.near {
		.text-warning;
		.bg-warning;
	}
	.incorrect {
		.text-danger;
		.bg-danger;
	}
	.glyphicon-ok {
		color: green;
	}
	.glyphicon-remove {
		color: red;
	}
	.glyphicon-arrow-right {
		float: right;
		margin-left: 10px;
	}
	.glyphicon-arrow-down {
		color: #aaa;
		margin-right: 5px;
	}
	.internal_alignment {
		font-size: 120%;
	}
}

ul.ui-autocomplete {
	> li {
		list-style-type: none;
	}
}

#credits {
	dt {
		font-weight: bold;
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}
	}
	dd {
		margin-left: 20px;
	}
}

#purchases_index {
    .unknown {
        color: #666;
    }
    .refunded {
        color: green;
        margin: 0;
    }
    tr.details {
    	td {
    		padding: 0;
		}
    	ul {
    		display: none;
    		margin: 0;
    		padding: 0px 8px 8px 20px;
		}
	}
    > tbody > tr.details > td {
    	border: 0;
	}
}

#password-fields-button {
	font-weight: bold;
}